.header-container {
    position: fixed;
    height: 60px;
    width: 100vw;

    .header {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        background-color: white;
        height: 100%;

        .logo-titulo {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            width: 100%;
            background: var(--gradient-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


            img {
                width: 50px;
                height: 50px;
                margin: 10px;
            }

            h1 {
                font-family: 'Playfair Display', serif !important;
                font-size: 20px;
            }
        }
    }

    .right-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        height: auto;
        padding: 10px;
        width: 100%;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            background-color: white;
            border: none;
            padding: 5px;
            border-radius: 10px;
            font-size: 14px;
            font-weight: 600;
            
            img{
                width: 20px;
                height: 20px;
            }
        }

        button:hover {
            background-color: #F0E9DB;
            cursor: pointer;

            img{
                 filter: brightness(0) saturate(100%) invert(40%) sepia(40%) saturate(400%) hue-rotate(10deg);
            }
        }

    }

}