.agenda {
    height: fit-content;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: 'DM Sans', sans-serif;
    background-color: rgb(236, 236, 236);

    img {
        width: 20px;
        height: 20px;
    }

    .agenda-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 480px;

        h1 {
            margin: 0;
        }

        .new-section {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: none;
            outline: none;
            background: var(--gradient-color);
            color: white;
            padding: 10px;
            gap: 10px;

            img {
                filter: brightness(0) invert(1);
            }
        }

    }

    .calendar {
        max-width: 480px;
        width: 100%;
        background-color: white;
        border: solid 1px rgb(233, 233, 233);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 10px;
    }

    .section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        max-width: 480px;
        width: 100%;
        gap: 10px;
        color: grey;

        .section-card {
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            padding: 15px;
            gap: 10px;
            border-radius: 20px;
            color: grey;

            .clock-icon {
                width: 50px;
                height: 50px;
               filter: brightness(0) saturate(100%) invert(76%) sepia(12%) saturate(300%) hue-rotate(10deg) brightness(90%) contrast(85%);
            }

            button {
                border: solid 1px var(--color-red);
                outline: none;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 10px;
                color: var(--color-red);

                img {
                    filter: brightness(0) saturate(100%) invert(24%) sepia(34%) saturate(2962%) hue-rotate(318deg) brightness(92%) contrast(90%);
                }
            }
        }
    }
}