<div class="navbar-container">
    <div class="navbar">
        <ul>
            <li>
                <button  routerLink="/principal/home">
                    <img src="assets/images/home.svg">
                    Início
                </button>
            </li>

            <li>
                <button routerLink="/principal/pacientes">
                    <img src="assets/images/people.svg">
                    Paciente
                </button>
            </li>

            <li>
                <button routerLink="/principal/agenda">
                    <img src="assets/images/calendar.svg">
                    Agenda
                </button>
            </li>
            <li>
                <button routerLink="/principal/sections">
                    <img src="assets/images/list.svg">
                    Sessões
                </button>
            </li>
            <!-- <li>
                <button>
                    <img src="assets/images/report.svg">
                    Relatório
                </button>
            </li> -->
        </ul>
    
    </div>
</div>