.navbar-container {
    display: flex;
    justify-content: end;
    align-items: end;
    position: fixed;
    height: 100vh;

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        background-color: white;
        height: 60px;
        width: 100vw;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            li {
                width: auto;

                button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    width: 90%;
                    color: grey;
                    border: none;
                    padding: 5px;
                    border-radius: 10px;
                    font-weight: 600;
                    font-size: 14px;
                    background-color: white;

                    img{
                        width: 30px;
                        height: 30px;
                        filter: grayscale(100%);
                    }
                }

                button:hover {
                    cursor: pointer;
                    color:black;

                    img{
                        filter: brightness(0);
                    }
                }
                button:focus{
                    color: #c3334b;

                    img{
                        filter: none;
                    }
                }
            }
        }


    }
}